.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & h1 {
    font-size: 5rem;
    font-variant: small-caps;
    margin: 0;
  }
  & h2 {
    font-size: 4rem;
    font-variant: small-caps;
    margin: 0;
  }

  & p {
    font-size: 2rem;
  }
}
