$primary: #345edb;
$primaryDark: #2e55ca;
$grey: rgba(210, 210, 210, 1);
$accent: #7c4dff;

.formContainer {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;

  & h1 {
    margin-bottom: 3rem;
  }
}

.form {
  background-color: white;
  width: 25rem;
  height: 36rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  -webkit-box-shadow: 0px 8px 24px -1px rgba(210, 210, 210, 1);
  -moz-box-shadow: 0px 8px 24px -1px rgba(210, 210, 210, 1);
  box-shadow: 0px 8px 24px -1px rgba(210, 210, 210, 1);
  border-radius: 0.5rem;
  padding: 4rem;
  padding-top: 0;

  & input {
    outline: none;

    &:active {
      outline: none;
    }
  }

  & h2 {
    margin-bottom: 3.4rem;
    font-size: 1.4rem;
  }
}

.radioContainer {
  width: 100%;
  margin-block: 1rem;
  padding-block: 0.5rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  row-gap: 2rem;
  flex-grow: 1;

  & .radioItem {
    width: 100%;
    height: 2rem;
    margin: 0.2rem;
    display: flex;
    align-items: center;
  }

  & .radioLabel {
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid $grey;
    margin-left: -2rem;
    padding-left: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
  }

  & .radioLabel:hover {
    background-color: $grey;
  }

  & p {
    margin-left: 0.3rem;
  }

  & .radioButton {
    accent-color: black;
    width: 1.3rem;
    height: 1.3rem;
    z-index: 5;
    position: relative;

    &:checked {
      + .radioLabel {
        background-color: $primary;
        border-color: $primary;
        color: white;
      }
    }
  }
}

.textInputContainer {
  box-sizing: border-box;
  border: 1px solid $grey;
  padding-inline: 0.5rem;
  border-radius: 0.3rem;
  width: 100%;
  transition: border-color 0.2s;

  & label {
    font-variant: small-caps;
    font-size: 1.2rem;
    transition: color 0.2s;
  }

  &:focus-within {
    border-color: $primary;

    .textInputLabel {
      color: $primary;
    }
  }
}

.textInput {
  box-sizing: border-box;
  height: 2.4rem;
  width: 100%;
  font-size: 1.3rem;
  margin: 0;
  padding: 0.2rem;
  padding-left: 0;
  border: none;
  transition: border-color 0.2s;
  background-color: transparent;
  margin-block: 0.4rem;

  &::placeholder {
    color: $grey;
    font-size: 1rem;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.submitButton {
  border: none;
  height: 3rem;
  font-size: 1.4rem;
  font-variant: small-caps;
  font-weight: 400;
  width: 100%;
  border-radius: 0.5rem;
  background-color: $primary;
  color: white;
  cursor: pointer;
  transition: background-color 0.1s;

  &:hover {
    background-color: $primaryDark;
  }
  &:active {
    background-color: $primary;
  }
}
