.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 30rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  -webkit-box-shadow: 0px 8px 24px -1px rgba(210, 210, 210, 1);
  -moz-box-shadow: 0px 8px 24px -1px rgba(210, 210, 210, 1);
  box-shadow: 0px 8px 24px -1px rgba(210, 210, 210, 1);
}
