$primary: #345edb;
$primaryDark: #2e55ca;

.navbar {
  box-sizing: border-box;
  width: 100vw;
  padding-left: 0.5rem;
  height: 5rem;
  -webkit-box-shadow: 0px 8px 24px -1px rgba(210, 210, 210, 1);
  -moz-box-shadow: 0px 8px 24px -1px rgba(210, 210, 210, 1);
  box-shadow: 0px 8px 24px -1px rgba(210, 210, 210, 1);
  padding: 0;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary;
  color: white;

  & h1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.list {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;

  & .listItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 1.4rem;
    width: 8rem;
    text-decoration: 0;
    transition: background-color 0.2s;
    font-variant: small-caps;
    user-select: none;

    &:hover {
      background-color: $primaryDark;
    }
  }
}

.active {
  background-color: rgba(0, 0, 0, 0.2);
}
